@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  padding: 214px 0 231px 128px;
}
h1 {
  margin-bottom: 62px;
  color: #000;
  font-family: Roboto Slab;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.385%;
}
li {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
ul {
  width: 672px;
}
@media screen and (max-width: 1024px) {
div{
  padding: 128px 0 170px 65px;
}
  h1{
    font-size: 32px;
    margin-bottom: 15px;
  }
  li {
   
    font-size: 14px;
    
  }
  ul{
width: 398px;
  }
}
@media screen and (max-width:768px) {
    h1{
    margin-bottom: 12px;
    font-size: 26px;
    }
    li{
        font-size: 12px; 
    }
    ul{
      width: 311px;
    }
}