* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title-1 {
  margin-left: 128px;
  padding-bottom: 62px;
  color: #000;
  font-family: Roboto Slab;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.385%;
}
li {
margin-left: 128px;
padding-right: 652px;

  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
